Repository dmeents/pretty-logseq: changes, and which Codecov flags are due for each by the changed paths.
All: core, features, lib

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 85%
        threshold: 5%
        if_ci_failed: error

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "dist/**/*"
  - "coverage/**/*"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "biome.json"
  - "index.html"

flags:
  core:
    paths:
      - src/core/**/*
  features:
    paths:
      - src/features/**/*
  lib:
    paths:
      - src/lib/**/*

chore(main): release 1.3.0
  CHANGELOG.md
  package.json
Due: none

fix: duplicate favorite icons
  src/features/content/favorites/observer.ts
Due: features

fix: description position in popover
  src/features/popovers/renderers/unified.ts
  src/features/topbar/hide-window-controls.scss
Due: features

fix: macOS traffic lights obscuring logseq controls
  src/features/topbar/hide-window-controls.scss
  src/features/topbar/styles.scss
Due: features

fix: update readme
  README.md
Due: none

chore(main): release 1.3.1
  CHANGELOG.md
  package.json
Due: none

fix: skip codecov upload for dependabot PRs
  .github/workflows/ci.yml
Due: none

chore(main): release 1.3.2
  CHANGELOG.md
  package.json
Due: none

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Add Dependabot configuration for automated dependency updates (#33)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Update CLAUDE.md guidance and remove test README
  CLAUDE.md
  test/README.md
Due: none

Add Logseq version detection and version-aware UI
  .gitignore
  src/core/version.test.ts
  src/core/version.ts
  src/index.ts
  src/settings/index.test.ts
  src/settings/index.ts
  src/settings/schema.ts
  test/mocks/logseq.ts
Due: core

Replace static settings schema with grouped schema
  src/features/topbar/index.test.ts
  src/index.ts
  src/settings/index.test.ts
  src/settings/index.ts
  src/settings/schema.ts
Due: features

Add cross-version platform adapter for v1/v2
  .gitignore
  src/core/platform/index.test.ts
  src/core/platform/index.ts
  src/core/platform/styles.ts
  src/core/platform/types.ts
  src/core/platform/v1.ts
  src/core/platform/v2.ts
  src/core/theme.ts
  src/features/content/favorites/api.ts
  src/features/content/favorites/observer.ts
  src/features/links/observer.ts
  src/features/popovers/manager.test.ts
  src/features/popovers/manager.ts
  src/features/properties/index.test.ts
  src/features/properties/index.ts
  src/features/properties/observer.test.ts
  src/features/properties/observer.ts
  src/features/properties/v1.ts
  src/features/properties/v2.ts
  src/features/tables/index.test.ts
  src/features/tables/index.ts
  src/features/tables/styles.v2.scss
  src/features/todos/observer.ts
  src/index.ts
Due: core, features

Add v2 properties styling and strategy
  src/core/platform/index.test.ts
  src/core/platform/v2.ts
  src/features/properties/index.test.ts
  src/features/properties/styles.v2.scss
  src/features/properties/v2.ts
Due: core, features

Add versioned v2 sidebar styles and tests
  CLAUDE.md
  src/features/sidebar/compact-nav.v2.scss
  src/features/sidebar/graph-bottom.v2.scss
  src/features/sidebar/index.test.ts
  src/features/sidebar/index.ts
Due: features

Add v2 shell detection and versioned features
  src/core/version.test.ts
  src/core/version.ts
  src/features/links/favicons.test.ts
  src/features/links/favicons.ts
  src/features/links/popover.test.ts
  src/features/links/popover.ts
  src/features/sidebar/compact-nav.v2.scss
  src/features/sidebar/graph-bottom.v2.scss
  src/features/todos/index.test.ts
  src/features/todos/index.ts
  src/features/todos/styles.v2.scss
  src/features/todos/v1.ts
  src/features/todos/v2.ts
  src/features/topbar/hide-home.scss
  src/settings/index.test.ts
  src/settings/schema.ts
Due: core, features

Use logseq.Request proxy for link metadata
  src/features/links/metadata.test.ts
  src/features/links/metadata.ts
Due: features

Add v2 Logseq data adapter and tests
  src/core/platform/index.test.ts
  src/core/platform/v2.ts
  src/features/popovers/index.ts
  src/features/popovers/renderers/helpers.test.ts
  src/features/popovers/renderers/helpers.ts
  src/features/popovers/renderers/unified.ts
  src/features/popovers/renderers/v2-integration.test.ts
  src/features/popovers/styles.scss
  src/features/popovers/styles.v2.scss
  src/lib/api.v2.test.ts
  src/lib/api.v2.ts
Due: core, features, lib

Add v2 accent via data-color and Pretty Tags
  src/core/platform/index.test.ts
  src/core/platform/types.ts
  src/core/platform/v2.ts
  src/core/theme.test.ts
  src/core/theme.ts
  src/features/properties/styles.v2.scss
  src/features/tags/index.test.ts
  src/features/tags/index.ts
  src/features/tags/styles.scss
  src/features/tags/styles.v2.scss
  src/features/todos/styles.v2.scss
  src/features/typography/code-nodes.v2.scss
  src/features/typography/index.test.ts
  src/features/typography/index.ts
  src/index.ts
  src/settings/index.test.ts
  src/settings/schema.ts
Due: core, features

Add dark-theme accent-bright and tweak sidebar
  src/core/theme.ts
  src/features/sidebar/compact-nav.v2.scss
Due: core, features

Update Pretty Tables v2 styles for DB DOM
  src/features/tables/styles.v2.scss
Due: features

Refactor Todo block card to wrap main and properties rows
  src/features/todos/styles.v2.scss
Due: features

feat: pretty-logseq v2
  README.md
Due: none

feat!: Update CLAUDE.md and api.v2 tests
  CLAUDE.md
  src/lib/api.v2.test.ts
Due: lib

chore(main): release 2.0.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 2.0.0 (#55)
  CHANGELOG.md
  package.json
Due: none

fix: collaboration styling
  src/features/topbar/index.test.ts
  src/features/topbar/index.ts
  src/features/topbar/rtc-collaborators.v2.scss
Due: features

fix: column select all header styles
  src/features/tables/styles.v2.scss
Due: features

fix: styles and cleanup (#56)
  src/features/tables/styles.v2.scss
  src/features/topbar/index.test.ts
  src/features/topbar/index.ts
  src/features/topbar/rtc-collaborators.v2.scss
Due: features

chore(main): release 2.0.1
  CHANGELOG.md
  package.json
Due: none

chore(main): release 2.0.1 (#57)
  CHANGELOG.md
  package.json
Due: none

fix: page favorites working again
  src/core/platform/index.test.ts
  src/core/platform/types.ts
  src/core/platform/v1.ts
  src/core/platform/v2.ts
  src/features/content/favorites/api.test.ts
  src/features/content/favorites/api.ts
  src/features/content/favorites/observer.test.ts
  src/features/content/favorites/observer.ts
  test/mocks/logseq.ts
Due: core, features

fix: add graphify
  graphify-out/.graphify_labels.json
  graphify-out/.graphify_python
  graphify-out/.graphify_root
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix: favorites not working, or persisting
  .gitignore
  src/core/platform/index.test.ts
  src/core/platform/v2.ts
  src/features/content/favorites/api.test.ts
  src/features/content/favorites/observer.test.ts
  src/features/content/favorites/observer.ts
Due: core, features

Add graphify rules to CLAUDE.md and .gitattributes
  .gitattributes
  CLAUDE.md
Due: none

Update CLAUDE.md manifest entry
  graphify-out/manifest.json
Due: none

Refactor link popovers to render via new renderer
  graphify-out/.graphify_root
  graphify-out/2026-07-18/.graphify_labels.json
  graphify-out/2026-07-18/GRAPH_REPORT.md
  graphify-out/2026-07-18/cost.json
  graphify-out/2026-07-18/graph.json
  graphify-out/2026-07-18/manifest.json
  graphify-out/graph.html
  src/features/links/favicons.test.ts
  src/features/links/favicons.ts
  src/features/links/popover.ts
  src/features/links/render.test.ts
  src/features/links/render.ts
Due: features

Update graphify labels and add blocks.ts
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-18/.graphify_labels.json
  graphify-out/2026-07-18/GRAPH_REPORT.md
  graphify-out/2026-07-18/graph.json
  graphify-out/2026-07-18/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: none
