Repository dmeents/pretty-logseq: changes, and which Codecov flags are due for each by the changed paths.
All: core, features, lib

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 85%
        threshold: 5%
        if_ci_failed: error

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "dist/**/*"
  - "coverage/**/*"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "biome.json"
  - "index.html"

flags:
  core:
    paths:
      - src/core/**/*
  features:
    paths:
      - src/features/**/*
  lib:
    paths:
      - src/lib/**/*

fix: header spacing
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/cost.json
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/graph.html
  src/features/content/favorites/styles.scss
  src/features/typography/headers.scss
Due: features

fix: properties block width
  src/features/content/favorites/styles.scss
Due: features

feat: add side bar tag styling
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/graph.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
  src/features/properties/styles.v2.scss
  src/features/sidebar-tags/hide.scss
  src/features/sidebar-tags/index.test.ts
  src/features/sidebar-tags/index.ts
  src/features/sidebar-tags/observer.test.ts
  src/features/sidebar-tags/observer.ts
  src/features/sidebar-tags/subtle.scss
  src/index.ts
  src/settings/schema.ts
Due: features

fix: update graphs
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: none

fix: relocate star so it doesn't conflict with tags
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
  src/features/content/favorites/observer.test.ts
  src/features/content/favorites/observer.ts
  src/features/content/favorites/styles.scss
Due: features

fix: update graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: none

fix: theme change fixes
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/graph.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
  src/core/platform/v1.test.ts
  src/core/platform/v2.test.ts
  src/core/theme.test.ts
  src/core/theme.ts
  src/features/content/favorites/observer.test.ts
  src/features/sidebar-tags/observer.test.ts
  src/index.ts
  src/settings/index.test.ts
Due: core, features

fix: update graphs
  graphify-out/.graphify_labels.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix: exclude generated graphify-out from Biome checks
  biome.json
Due: none

chore(main): release 2.0.2
  CHANGELOG.md
  package.json
Due: none

chore(main): release 2.0.2 (#65)
  CHANGELOG.md
  package.json
Due: none

chore: replace graphify with codegraph for the code knowledge graph
  .gitattributes
  .gitignore
  .mcp.json
  CLAUDE.md
  biome.json
  graphify-out/.graphify_labels.json
  graphify-out/.graphify_python
  graphify-out/.graphify_root
  graphify-out/2026-07-18/.graphify_labels.json
  graphify-out/2026-07-18/GRAPH_REPORT.md
  graphify-out/2026-07-18/cost.json
  graphify-out/2026-07-18/graph.json
  graphify-out/2026-07-18/manifest.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/cost.json
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix: flow heading spacing above blocks instead of below
  src/features/typography/headers.scss
Due: features

fix: todo style improvements
  src/features/properties/styles.v2.scss
  src/features/todos/dim-children.scss
  src/features/todos/dim-children.v2.scss
  src/features/todos/hidden-properties-pill.v2.scss
  src/features/todos/index.test.ts
  src/features/todos/styles.v2.scss
  src/features/todos/v1.ts
  src/features/todos/v2.ts
  src/index.ts
  src/settings/schema.ts
Due: features

fix: styling for v2 application (#66)
  .gitattributes
  .gitignore
  .mcp.json
  CLAUDE.md
  biome.json
  graphify-out/.graphify_labels.json
  graphify-out/.graphify_python
  graphify-out/.graphify_root
  graphify-out/2026-07-18/.graphify_labels.json
  graphify-out/2026-07-18/GRAPH_REPORT.md
  graphify-out/2026-07-18/cost.json
  graphify-out/2026-07-18/graph.json
  graphify-out/2026-07-18/manifest.json
  graphify-out/2026-07-19/.graphify_labels.json
  graphify-out/2026-07-19/GRAPH_REPORT.md
  graphify-out/2026-07-19/cost.json
  graphify-out/2026-07-19/graph.json
  graphify-out/2026-07-19/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
  src/features/properties/styles.v2.scss
  src/features/todos/dim-children.scss
  src/features/todos/dim-children.v2.scss
  src/features/todos/hidden-properties-pill.v2.scss
  src/features/todos/index.test.ts
  src/features/todos/styles.v2.scss
  src/features/todos/v1.ts
  src/features/todos/v2.ts
  src/features/typography/headers.scss
  src/index.ts
  src/settings/schema.ts
Due: features

chore(main): release 2.0.3
  CHANGELOG.md
  package.json
Due: none

chore(main): release 2.0.3 (#67)
  CHANGELOG.md
  package.json
Due: none

ci: bump Node.js from 20 to 24 in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
